<app-navbar></app-navbar>

<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 d-flex">
      <div class="card p-4">
        <div class="card-body">
          <h5 class="card-title text-center">Ver pruebas</h5>
          <p class="card-text">
            Aca estan las primeras pruebas realizadas con angular
          </p>
          <a href="/pruebas" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 d-flex">
      <div class="card p-4">
        <div class="card-body">
          <h5 class="card-title text-center">Ver personajes</h5>
          <p class="card-text">
            Aca estan las primeras consultas rest a una API de rick y morty que
            lista los personajes de la serie
          </p>
          <a href="/personajes" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 d-flex">
      <div class="card p-4">
        <div class="card-body">
          <h5 class="card-title text-center">Ver springboot</h5>
          <p class="card-text">
            Aca estan las primeras consultas rest a la API springboot-rest-demo
            que levantas en el puerto :8080
          </p>
          <small>URL: https://github.com/RdzSebastian/springboot-rest-demo</small>
          <a href="/springboot" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>