<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
    href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css'>
<!--===============================================================================================-->

<app-navbar></app-navbar>

<app-header></app-header>

<form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <div class="my-3 d-flex flex-column align-items-center">
        <h4>Guardar Persona</h4>
        <div class="form-group col-4 my-3">
            <label for="nombre">Nombre</label>
            <input class="form-control" formControlName="nombre" type="text" id="nombre">
        </div>
        <div class="form-group col-4 my-3">
            <label for="apellido">Apellido</label>
            <input class="form-control" formControlName="apellido" type="text" id="apellido">
        </div>
        <div class="form-group col-4 my-3">
            <label for="edad">Edad</label>
            <input class="form-control" formControlName="edad" type="number" id="edad">
        </div>
        <div class="form-group col-4 my-3">
            <label for="pais">Pais</label>
            <select class="form-control" formControlName="pais" type="text" [(ngModel)]="pais" name="pais">
                <option [ngValue]='item' *ngFor="let item of paises">{{item.nombre}}</option>
            </select>
        </div>
        <div class="form-group col-4 my-3">
            <label for="estado">Estado</label>
            <select class="form-control" formControlName="estado" type="text" [(ngModel)]="estado" name="estado">
                <option [ngValue]="item" *ngFor="let item of estados">{{item.nombre}}</option>
            </select>
        </div>
        <div class="form-group col-4 my-3 text-center">
            <button type="submit" class="btn btn-primary w-100" [disabled]="personaForm.invalid">Guardar</button>
        </div>
    </div>
</form>


<div class="my-3 d-flex flex-column align-items-center">
    <h4 class="my-3">Personas Registradas</h4>
    <div class="form-group col-6 m-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Pais</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of personas">
                    <td>{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.edad}}</td>
                    <td>{{item.pais.nombre}}</td>
                    <td>{{item.estado.nombre}}</td>
                    <td>
                        <a class="mx-2" title="Editar" data-toggle="tooltip" href="javascript:"><i
                                class="fas fa-edit text-warning fa-lg" (click)="editar(item)"></i></a>
                        <a class="mx-2" title="Eliminar"
                            th:onclick="if (!(confirm('Quiere eliminar el extra?' ) )) return false"
                            data-toggle="tooltip" href="javascript:"><i class="fas fa-trash text-danger fa-lg"
                                (click)="eliminar(item)"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>